<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>fieldpay.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>505F93772E35E95C00D10D1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>505F93842E35E95E00D10D1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>505F938E2E35E95E00D10D1F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
